nav.col-sm-3#list-example {
    top: 20px;
    position: fixed;
}

div#list-item-1 {
    padding-top:200px;
    padding-bottom:200px
}
#content {
    position: absolute;
    bottom: 72px; left: 72px;
    width: 300px;
    height: 100px;
}

#blurredbackground {
    position: absolute;    /*matches #content position*/
    bottom: 72px; left: 72px;    /*matches #content position*/
    width: 300px;    /*matches #content width*/
    height: 100px;    /*matches #content height*/
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}



@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$width: 25px;
$height: 25px;

$bounce_height: 40px;

body {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: Montserrat;
}

.wrap {
  position: fixed;
  z-index:10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 60px;
  font-weight: 1000;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 50px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

.bounceball2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate 100ms infinite ease;
  }
}

.bounceball3 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: $width;
  &:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate 200ms infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce_height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(1.5);
  }
  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}
