@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 1, main/static/main/style.scss */
nav#list-example.col-sm-3 {
  top: 20px;
  position: fixed; }

/* line 6, main/static/main/style.scss */
div#list-item-1 {
  padding-top: 200px;
  padding-bottom: 200px; }

/* line 18, main/static/main/style.scss */
body {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: Montserrat; }

/* line 25, main/static/main/style.scss */
.wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 32, main/static/main/style.scss */
.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 60px;
  font-weight: 1000; }

/* line 40, main/static/main/style.scss */
.bounceball {
  position: relative;
  display: inline-block;
  height: 47px;
  width: 25px; }
  /* line 45, main/static/main/style.scss */
  .bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease; }

@keyframes bounce {
  0% {
    top: 40px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2); }
  35% {
    height: 25px;
    border-radius: 50%;
    transform: scaleX(1); }
  100% {
    top: 0; } }
