@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 3, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
nav#list-example.col-sm-3 {
  top: 20px;
  position: fixed; }

/* line 8, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
div#list-item-1 {
  padding-top: 200px;
  padding-bottom: 200px; }

/* line 12, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
#content {
  position: absolute;
  bottom: 72px;
  left: 72px;
  width: 300px;
  height: 100px; }

/* line 19, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
#blurredbackground {
  position: absolute;
  /*matches #content position*/
  bottom: 72px;
  left: 72px;
  /*matches #content position*/
  width: 300px;
  /*matches #content width*/
  height: 100px;
  /*matches #content height*/
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: -1; }

/* line 38, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
body {
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: Montserrat; }

/* line 45, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
.wrap {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* line 53, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
.text {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 60px;
  font-weight: 1000; }

/* line 61, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
.bounceball {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 25px; }
  /* line 66, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
  .bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease; }

/* line 80, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
.bounceball2 {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 25px; }
  /* line 85, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
  .bounceball2:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate 100ms infinite ease; }

/* line 135, ssd/Howard/vaccine-cost-model/main/static/main/style.scss */
.force-UTF-8 {
  content: "ยก"; }
