{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy form form.helper %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card bg-light mt-5 mb-3 w-100 p-3">
            <div class="card-header"><p class="h2"><i class="fas fa-arrow-left"></i> <b> &nbsp &nbsp Find Previous Analysis </b></p></div>
            <div class="card-body w-100">
                <p class="card-text">Please enter your 'analysis code' below. After you press the "Find  Project" button, you can go into your project page!</p>

                <form method="POST" class="w-100" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}


                    <!-- <label style="text-align: right" for="your_analysis_code" class="col-7 col-form-label">Index case number <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="The initial infected people in the model."></i></label>
                    <div class="col-5">
                      <input class="form-control" type="number" id="your_analysis_code" name="your_analysis_code">
                    </div> -->

                    <div class="input-group input-group-lg mb-3">
                      <input id="your_analysis_code" name="your_analysis_code" type="text" class="form-control" placeholder="Enter your analysis code" aria-label="Enter your analysis code" aria-describedby="basic-addon2">
                      <button class="btn  btn-success" type="submit">Button</button>
                    </div>
                </form>

                <!-- <form action="/your-name/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form> -->


                <!-- {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{message.tags}}" {% endif %} role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if variable.inside_or_outside %}
                        <script language="javascript" type="text/javascript">
                        function popitup(url) {
                            console.log(url)
                            var project_name=window.open(url,'Your project','height=1000,width=1200');
                            if (window.focus) {project_name.focus()}
                            return false;
                        }
                        {% comment %} popitup("{% url 'dataanalysis_home' variable.url_parameter %}") {% endcomment %}
                        </script>
                        <br>
                        {% if variable.assembly_type_input == "reference_based_assembly"%}
                        <a><button type="button" class="btn btn-success btn-block btn-lg" onclick="return popitup('{% url 'reference_mapping_dataanalysis_data_upload' slug_project=variable.url_parameter %}')">Link to your Project (Upload)</button></a>
                        {% elif variable.assembly_type_input == "de_novo_assembly"%}
                        <a><button type="button" class="btn btn-success btn-block btn-lg" onclick="return popitup('{% url 'de_novo_assembly_dataanalysis_data_upload' slug_project=variable.url_parameter %}')">Link to your Project (Upload)</button></a>
                        {% elif variable.assembly_type_input == "virus_assembly"%}
                        <a><button type="button" class="btn btn-success btn-block btn-lg" onclick="return popitup('{% url 'de_novo_assembly_dataanalysis_data_upload' slug_project=variable.url_parameter %}')">Link to your Project (Upload)</button></a>
                        {% endif %}
                        <br>
                        <a href={% url 'new_analysis' %}><button type="button" class="btn btn-outline-success">Back to homepage</button></a>
                    {% else %}
                        <br>
                        <a href={% url 'new_analysis' %}><button type="button" class="btn btn-success">Back to homepage</button></a>
                    {% endif %}
                    <a href={% url 'homepage' %}><button type="button" class="btn btn-outline-secondary">Back to homepage</button></a>
                {% else %}
                <br>
                <div class="col-md-7">
                    <form method="POST" class="w-100">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Find Project</button>
                        </span>
                    </form>
                </div>
                {% endif %} -->
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 100px">
</div>

{% endblock content %}
