{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% crispy form form.helper %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card bg-light mt-5 mb-3 w-100 p-3">
            <div class="card-header"><p class="h2"><i class="fas fa-hands-helping"></i> <b>&nbsp &nbsp Help </b></p></div>
            <div class="card-body w-100">
                <br>
                <h4 class="card-title" style="margin-bottom: 20px"><b>Basic Instruction</b></h4>


                <h5 class="card-title" style="margin-left: 15px">1. Start New Project</h5>
                <p style="margin-left: 30px">If you haven't start a project, please go to <a href="http://172.16.0.153/email-hash/start-new-analysis/"> Start New Project Page</a>.</p>

                <h5 class="card-title" style="margin-left: 15px">2. Check Project</h5>
                <p style="margin-left: 30px">After you create the project, you will receive an email with the analysis code. Please go to <a href="http://172.16.0.153/email-hash/start-new-analysis/"> Start New Project Page</a> to start the analysis.</p>

                <h5 class="card-title" style="margin-left: 15px">3. Delete Project</h5>
                <p style="margin-left: 30px">After the analysis, if you want to erase all the data from our server, please go to <a href="http://172.16.0.153/email-hash/deleteanalysis/">Delete Project Page</a>.</p>

                <br>

                <hr>

                <br>

                <h4 class="card-title" style="margin-bottom: 20px"><b>User supports</b></h4>

                <p style="margin-left: 20px">For more details, please refer to the <a href="https://pathogenserver.readthedocs.io/en/latest/">Documentation</a>. </p>

                <p style="margin-left: 20px">Join the <a href="https://groups.google.com/forum/#!forum/pathogenserver/new">PathogenServer Google group</a>! We welcome any questions, feedback, feature requests, and bug reports.</p>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 100px">
</div>

{% endblock content %}
